<% layout("./layouts/boilerplate2") %>


    <div class="row">
        <div class="col-7 offset-3">
            <br>
            <h3>
                <%= listData.title %>
            </h3>
            <br>
            <div class="card">
                <img src="<%= listData.image.url %>" class="card-img-top show-img" alt="Listing Image">
                <div class="card-body">
                    <br>
                    <p class="card-text">
                        <!-- printing owner -->
                        <i>
                            Owned by @<%= listData.owner.username %>
                        </i><br>

                        <%= listData.description %> <br>
                            <span>&#8377; </span>
                            <%= listData.price.toLocaleString("en-IN") %><br>

                            <%= listData.location %><br>
                            <%= listData.country %>

                    </p>
                    <!-- <br> -->

                </div>
                <div class="btns">
                    <!-- if currentUser._id == listData.owner._id
                         (currentUser we declared in our locals) -->
                         <!-- in some case if our middleware is not run and currentUser is not saved in locals, so our condition is currentuser && (means currentuser hona bhi chahiye) -->
                    <% if(currentUser && currentUser._id.equals(listData.owner._id)){ %>
                    <a href="/listings/<%= listData._id  %>/edit" class="btn-edit btn btn-danger col-3">Edit</a>

                    <form action="/listings/<%= listData._id  %>?_method=delete" method="post">
                        <button class="offset-3 btn btn-dark">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>


            <!-- <br> -->

        </div>


        <!-- adding condition for creating review -->
        <div class="col-7 offset-3 mb-3">
            <% if(currentUser && !listData.reviews.find(r => r.author.equals(currentUser._id))){ %>
                <hr>
            <h4>Leave A Review</h4>
            <form action="/listings/<%= listData._id %>/reviews" method="post" class="needs-validation" novalidate>

                <!-- <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="Review[rating]" class="form-range">
                </div> -->

            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="Review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="Review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="Review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="Review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="Review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="Review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>

                <div class="mb-3 mt-3">
                    <label for="comment">Comments :</label>
                    <textarea name="Review[comment]" id="comment" cols="30" rows="5" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">Please add some Comments for review</div>
                </div>
                <button class="btn btn-outline-dark mt-3 mb-3">Submit</button>
            </form>
        <% } %>

            <hr>
            <!-- show reviews : -->
            <!-- get reference from bootstrap card -->
            <% if(listData.reviews.length>0){ %>
            <div class="row">
                <p><b>All reviews</b></p>
                <% for(review of listData.reviews){ %>
                    <div class="card r-card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            <p class="starability-result card-text" data-rating="<%= review.rating %>">
                            <p class="card-text">
                                <%= review.comment %>
                            </p>
                            </p>
                        </div>
                        <form class="mb-3"
                            action="/listings/<%= listData._id %>/reviews/<%= review._id %>?_method=DELETE"
                            method="post">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
            <% } %>
        </div>
    </div>

    
    